# Java & Maven
target/
*.class
*.jar
*.war

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Environment / OS
.DS_Store
Thumbs.db
*.log

# Frontend (Node modules / build output)
node_modules/
dist/
build/
.next/
